
/*
Goes with cover image
#182e42
*/

* {
    --antique-ruby: #8b2635ff;
    --artichoke: #a2a77fff;
    --hunter-green: #345830ff;
    --prussian-blue: #182e42ff;
    --pale-cerulean: #93bedfff;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    background-color: var(--prussian-blue);
    min-height: 200vh;
}
header {
    min-width: 100%;
    
}
nav {
    z-index: 1;
    min-width: 100%;
    top: 0vh;
    position: fixed;
}
.nav-upper-fill {
    min-height: 30vh;

    /* Temporary Stuff for Classifying Blocks */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
    background: url('../img/home-cover.png') no-repeat center;
    overflow: hidden;
    background-size: auto;
}
.nav-parent-div {
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    min-width: 100%;
    justify-content: space-between;
    background-color: #182e42;
}

.nav-container {
    display: flex;
    flex-direction: row;
    
}
.nav-div {
    display: flex;
    padding: 0px;
    margin: 0px;

}

.navbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #182e42;
    border: 2px solid #182e42;
    color: white;
    font: 1em sans-serif;
    text-decoration: none;
    transition-duration: 0.25s;
}
.navbutton:hover {
    background-color: #8b2635;
    color: white;
    border: 2px solid #182e42;
}
h1 {
    margin: 0 auto;
    margin-top: 5vh;
}

.nav-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    color: white;
    background-color: #8b2635;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Roboto Mono', monospace;
}

.work-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 25vh;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: xx-large;
    background-color: #13212f54;
    
}

.work-quicklink-container {
    display: flex;
    flex-direction: row;
}

.work-quicklink-button {
    background-color: #203d58;
    display: flex;
    min-width: 12vw;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    transition-duration: 0.2s;
    text-decoration: none;
}
.work-quicklink-button:hover {
    box-shadow: inset 300px 0 0 0 #bee4cc;
    color:#464064;
}


.work-cover-decks {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: url(../img/work/decks/deck-cover-hd.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 95vh;
    width: 100%;
}
#work-container {
    width: 100%;
    height: 600px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    overflow-x: auto;
    background-color: #264157;
}

#work-container::-webkit-scrollbar {
    width: 100%;
    background-color: #29455c;
}
#work-container::-webkit-scrollbar-thumb {
    width: 30px;
    background-color: #0f1c28;
}

.work-container-job {
    cursor: pointer;
    flex-direction: column;
    background-color: rgb(7, 11, 6) ;
    width: 600px;
    height: 480px;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    transition: all 0.1s linear;
    background-size: contain;
    margin-left: 2vw;
    margin-right: 2vw;
}
.work-container-job:hover {
    opacity: 0.8;
    scale: 1.02;
    text-align: center;
    content: 'Hello, this is a test.';
    color: black;
    background-color: #000000;
}

.work-container-job-color {
    height: 480px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.viewbox {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #6c58868f;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;


    display: none;
}

#viewbox-container {
    width: 80vw;
    height: 80vh;
    background-color: #000000;
    display: flex;
    flex-direction: row;
}
.viewbox-img {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    height: 100%;
    width: 60%;
    overflow: clip;
    user-select: none;
}

.viewbox-img > img {
    color: white;;
}

.viewbox-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background-color: #182e42;
}
.content-title-close-container {
    display: flex;
    flex-direction: row;
    height: 15%;
}
.content-close {
    position: absolute;
    background-color: rgb(96, 27, 27);
    border-radius: 4px;
    top: 11vh;
    right: 10vw;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-decoration:solid;
    font-size: xx-large;
    user-select: none;
    
}
.content-title {
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    color: white;
    width: 100%;
}
.content-text {
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    color: white;
    height: 75%;
    padding: 1rem;
}
.content-arrows-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    color: white;
    user-select: none;
    text-shadow: 0px 0px 20px rgb(255, 255, 255),  0px 0px 40px rgb(255, 255, 255),  0px 0px 40px rgb(255, 255, 255);
}

.content-left-arrow {
    cursor: pointer;
    width: 30%;
    background-color: #1b344b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.content-right-arrow {
    cursor: pointer;
    width: 30%;
    background-color: #1b344b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.seperator {
    min-width: 100%;
    min-height: 6px;
    background-color: #13212f54;
}
.cover-text {
    background-color:rgba(48, 84, 88, 0.7);
    border-radius:5px;
    color:white;
    font-family: 'Roboto Mono', monospace;
    font-size:5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}